<div class="card mb-4 shadow-sm">
  <mat-card class="px-4">
    <div class="card__header-wrapper">
      <img
        mat-card-avatar
        class="bd-placeholder-img card-img-top p-2"
        width="100%"
        [src]="post.imageUrl"
        alt="Product image"
      />
      <div>Shiba Inu</div>
      <div>on {{ post.createdDate | date }}</div>
    </div>

    <div
      class="card__img-wrapper mb-3"
      [style.background-image]="'url(' + post.imageUrl + ')'"
    ></div>
    <div class="card__title fw-bold mb-3">{{ post.title }}</div>
    <div class="card__content mb-3">{{ post.content }}</div>
    <div class="card__footer-wrapper">
      <a href="#" class="text-decoration-none fw-bold">Read more</a>
      <div>
        <fa-icon [icon]="faThumbsUp"></fa-icon
        ><span> {{ post.likesCount }} likes</span>
      </div>
    </div>
  </mat-card>
</div>
