<!--<form class="example-form">-->
<!--    <mat-form-field class="example-full-width">-->
<!--      <input type="text" placeholder="search" aria-label="Number" matInput [(ngModel)]="enteredSearchValue" name="brand" (input)="onSearchTextChanged()"  [matAutocomplete]="auto">-->
<!--      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">-->
<!--      </mat-autocomplete>-->
<!--    </mat-form-field>-->
<!--</form>-->

<form class="search-form">
  <fa-icon [icon]="faSearch"></fa-icon>

  <input
    type="search"
    value=""
    placeholder="Search blog"
    class="search-input text-white"
  />

  <!--  <button type="submit" class="search-button">-->
  <!--    <svg class="submit-button">-->
  <!--      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>-->
  <!--    </svg>-->
  <!--  </button>-->
</form>
